
[homing_override]
axes: xyz
gcode:
  {% if printer.probe.last_query  %}
         RESPOND TYPE=echo MSG='Z Probe triggered, cannot home.'
  {% else %}
    SET_GCODE_OFFSET X=0.0 Y=0.0 Z=0.0
    {% set stepper_x = printer.configfile.config["stepper_x"] %}
    {% set min_x = printer.configfile.config["stepper_x"]["position_min"]|float %}
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set center_x = (min_x + max_x) / 2 %}
    {% set min_y = printer.configfile.config["stepper_y"]["position_min"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set center_y = (min_y + max_y) / 2 %}
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

    {% if home_all %}
      # !!! Commented out... only seems like it should be necessary to create a little bit of clearance.
      G90 ; absolute mode
      # G28 Z
      SET_KINEMATIC_POSITION Z=0
      G0 Z5 F1000
      #G0 Z1.0 F600
    {% endif %}

    {% if home_all or 'Y' in params %}
      G90 ; absolute mode
      {% if "x" in printer.toolhead.homed_axes %}
        G0 X{center_x} F5000
      {% endif %}
      G28 Y
      G91 ; relative mode
      G0 Y-100 F5000 ; retract 100mm
    {% endif %}

    {% if home_all or 'X' in params %}
      G90 ; absolute mode
      {% if "y" in printer.toolhead.homed_axes %}
        G0 Y{center_y} F5000
      {% endif %}
      G28 X
      G91 ; relative mode
      G0 X-2 F5000 ; retract 2mm
    {% endif %}

    {% if home_all or 'Z' in params %}
      {% set random_x = (range(-10, 10) | random) / 10 %}
      {% set random_y = (range(-10, 10) | random) / 10 %}

      G90 ; absolute mode
      Attach_probe
      {% if 'R' in params %}
        G0 X{150+random_x} Y{285+random_y} F12000
      {% else %}
        G0 X{150+random_x} Y{150+random_y} F12000
      {% endif %}
      G28 Z
      {% if 'R' in params %}
        G0 Z200 F12000
      {% endif %}
      Dock_probe
    {% endif %}
  {% endif %}

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
description:
gcode:
    {% set V = printer["gcode_macro _User_Variables"].verbose %}
    {% if V %}
        { action_respond_info("Z Tilt Adjust") }
    {% endif %}

    _CheckProbe action=query
	G90
    Attach_Probe
    _KLICKY_STATUS_LEVELING

    _Z_TILT_ADJUST horizontal_move_z=20 {% for p in params
          %}{'%s=%s ' % (p, params[p])}{%
          endfor %}
    Dock_Probe
    G28 Z

[gcode_macro BED_MESH_CALIBRATE]
rename_existing: _BED_MESH_CALIBRATE
description: Perform Mesh Bed Leveling with klicky automount
gcode:
    {% set V = printer["gcode_macro _User_Variables"].verbose %}
    {% if V %}
        { action_respond_info("Bed Mesh Calibrate") }
    {% endif %}

    _CheckProbe action=query
	G90
    Attach_Probe
    _KLICKY_STATUS_MESHING

    _BED_MESH_CALIBRATE {% for p in params
          %}{'%s=%s ' % (p, params[p])}{%
          endfor %}
    Dock_Probe

[gcode_macro RECOVER]
gcode:
      G28 R