[include toolchanger_macros.cfg]
[include tool_detection.cfg]
[include toolchanger.cfg]
[include homing.cfg]
[include nudge.cfg]

[include toolhead_0.cfg]
#[include toolhead_1.cfg]
#[include toolhead_2.cfg]
#[include toolhead_3.cfg]
#[include toolhead_1_as_0.cfg]
#[include toolhead_0_as_1.cfg]