[tool_probe_endstop]
  crash_mintime: 1.0 # Seconds to wait before announcing a crash, if the probe stops triggering before this, no crash is reported. (default : 0.5)

  
  crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    PAUSE
    #TURN_OFF_HEATERS