[mcu head1]
canbus_uuid: 73ee16c5148d

[temperature_sensor T1_mcu]
sensor_type: temperature_mcu
sensor_mcu: head1
min_temp: 0
max_temp: 100

#####################################################################
##                            Extruder
#####################################################################

[extruder1]
step_pin: head1:gpio7
dir_pin: head1:gpio6                 # Direction pin, "!" indicates logic inversion
enable_pin: !head1:gpio14            # Enable pin, "!" indicates logic inversion
full_steps_per_rotation: 200         # Number of pulses required for a single motor revolution (1.8 degree motor: 200, 0.9 degree motor: 400)
microsteps: 16                       # Microsteps setting
gear_ratio: 9:1                      # (G2 = Obt = 9:1)
rotation_distance: 41.733            # New value = old value x (actual extruded length / target length) (Obt = 41.733,  G2 = 47.088)
nozzle_diameter: 0.400               # Nozzle diameter
filament_diameter: 1.750             # Filament diameter
heater_pin: head1:gpio23             # Heater pin
control: pid                         # Control method
pid_Kp: 15                           # Proportional parameter of the PID controller
pid_Ki: 3                            # Integral parameter of the PID controller
pid_Kd: 10                           # Derivative parameter of the PID controller
min_temp: 0                          # Minimum temperature
max_temp: 350                        # Maximum temperature
min_extrude_temp: 170                # Minimum extrude temperature
pressure_advance: 0.035              # Pressure advance - try to keep pressure below 1.0
pressure_advance_smooth_time: 0.040  # Pressure advance smooth time - default is 0.040
sensor_type: MAX31865                # Temperature sensor type
sensor_pin: head1:gpio17             # Sensor pin
spi_software_sclk_pin: head1:gpio2   # SPI clock pin
spi_software_mosi_pin: head1:gpio3   # SPI master out slave in pin
spi_software_miso_pin: head1:gpio4   # SPI master in slave out pin
#rtd_nominal_r: 430                  # RTD nominal resistance
rtd_reference_r: 430                 # RTD reference resistance
rtd_num_of_wires: 2                  # Number of wires for the RTD
max_extrude_cross_section: 5.0       # Max extrude cross section
max_extrude_only_distance: 200.0     # Max extrude only distance

[tmc2209 extruder1]
uart_pin: head1:gpio15               # UART communication pin
interpolate: True                    # Enable 256 microstep interpolation
run_current: 0.6                     # Running current (G2 = obt = 0.6)
hold_current: 0.3
#stealthchop_threshold: 999999

[verify_heater extruder1]            # Heater block temperature tolerance configuration
max_error: 120                       # Maximum error
check_gain_time: 120                 # Tolerance time
hysteresis: 50                       # Tolerance temperature
heating_gain: 2                      # Heating gain

#####################################################################
##                            Fans
#####################################################################

[heater_fan T1_hotend_fan]
pin:head1:gpio13                 # Hotend fan pin
heater: extruder1                # Associated heating device
heater_temp: 80                  # Temperature to start the fan
cycle_time: 0.00003              # Cycle time

[fan_generic T1_fan]
pin: head1:gpio21                # Fan pin 
cycle_time: 0.001                # Cycle time
hardware_pwm: false              # hardware pwm

#####################################################################
##                            RGB-LED
#####################################################################

[neopixel T1_led]
pin: head1:gpio26             # LED pin
chain_count: 3                # Number of LEDs
color_order: GRB              # Color order
initial_RED: 1.0              # Initial red brightness
initial_GREEN: 1.0            # Initial green brightness
initial_BLUE: 1.0             # Initial blue brightness

#####################################################################
##                            Tool 1
#####################################################################

[gcode_macro T1]
variable_color: ""
gcode:
  SELECT_TOOL T=1
  
[tool T1]
tool_number: 1
extruder: extruder1
fan: T1_fan
# Tool offset is -0.040625,-0.593750,0.013750
gcode_x_offset: -0.040625
gcode_y_offset: -0.593750
gcode_z_offset: 0.013750
# Position with the toolhead aligned with the dock
params_park_x: 280.5
params_detach_x: 275.5

[tool_probe T1]
pin: ^head1:gpio20
tool: 1
z_offset: 0.50 #Reversed?
speed: 2.5
samples: 3
samples_result: median
sample_retract_dist: 1
samples_tolerance: 0.05
samples_tolerance_retries: 5
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder1